body {
    background-color: #B5B1F6;
    display: flex;
    justify-content: center;
}

td {
    vertical-align: middle;
}

.con {
    border-radius: 12px;
    background-color: #E3DDFF;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}